.react-tel-input .form-control {
  width: 100% !important;
  height: auto !important;
  padding: 0.525rem 1rem 0.525rem 3rem !important;
  border: 1px dashed #374151 !important;
  border-radius: 0.75rem !important;
  font-size: 0.875rem !important;
  font-style: italic !important;
  font-weight: 500 !important;
  letter-spacing: 0.05em !important;
}

.react-tel-input .flag-dropdown {
  border: 1px dashed #374151 !important;
  border-right: none !important;
  border-radius: 0.75rem 0 0 0.75rem !important;
  background-color: transparent !important;
}

.react-tel-input .selected-flag {
  border-radius: 0.75rem 0 0 0.75rem !important;
  background-color: transparent !important;
}

.react-tel-input .selected-flag:hover,
.react-tel-input .selected-flag:focus {
  background-color: rgba(0, 0, 0, 0.05) !important;
}

.react-tel-input .country-list {
  border-radius: 0.5rem !important;
  border: 1px dashed #374151 !important;
  margin-top: 4px !important;
}

.react-tel-input .search-box {
  padding: 0.5rem !important;
  margin: 0 !important;
}

.react-tel-input .search-box input {
  width: 100% !important;
  padding: 0.5rem !important;
  border: 1px dashed #374151 !important;
  border-radius: 0.375rem !important;
}

.react-tel-input .country-list .country:hover {
  background-color: rgba(0, 0, 0, 0.05) !important;
}

.react-tel-input .country-list .country.highlight {
  background-color: rgba(0, 0, 0, 0.05) !important;
}
